.banner {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;

    
}


.banner_container {
    display: flex;
    flex-direction: column;
    row-gap: 2em;
    align-items: center;
   
}

.social_media_container {
    display: flex;
    column-gap: 1.5em;
}

.banner_social_media {
    font-size: 1.75em;
    color:#6E57E0;
}

.banner_social_media:hover {
    color: blueviolet;
    transform: translateY(-5px);
    transition: .5s;
}

.profile_Name{
    font-size: 3em;
}

.profile_introduction {
    
    display: flex;
    flex-direction: column;
    row-gap: 1em;
}

.profile_description{
    font-size: 1.25em;
}

.banner_button {
   background-color: #6E57E0;
   height: 3em;
   width: 10em;
   font-size: 1.25em;
   color: white;
   border-radius: 50px;
   border-width: 0;
   display: flex;
   justify-content: center;
   align-items: center;
  
}

.banner_button:hover {
   background-color: blueviolet;
}


.profile_image{
    display: flex;
    justify-content: center;
   
}

.unEvenCircle {
    background-color: #6E57E0;
    width: 12em;
    height: 12em;
    border-radius: 70% 30% 30% 70% / 60% 40% 60% 30%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: flex-end;

}

.profile_image_image {
    width: 12em;
    height: 12em;
}





/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

    

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {


   


}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

  

    .banner_container{
        flex-wrap: wrap;
        flex-direction: row;
        column-gap: 2em;
        margin-top: 4em;
    }

    .profile_image{
        width: 100%;
    }

    .social_media_container{
        flex-direction: column;
        row-gap: 1.7em;
    }

    .profile_introduction{
        width: 80%;
    }



}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

    

    .banner_container{
        display: flex;
        flex-wrap: nowrap;
    }

    .banner_container :nth-child(1){
        order: 3;
    }
    .profile_introduction :nth-child(1){
        order: 0;
    }


    .unEvenCircle {
        width: 23em;
        height: 23em;
    }
    
    .profile_image_image {
        width: 23em;
        height: 23em;
    }

    .profile_image{
        width: auto;
    }

    .profile_description{
        font-size: 1em;
    }

    .social_media_container{
        font-size: .75em;
    }


    .unEvenCircle {
        width: 20em;
        height: 20em;
    }
    
    .profile_image_image {
        width: 20em;
        height: 20em;
    }

    .banner_button{
        width: 7.5em;
        height: 2.125em;
    }
    




}

