.skills {
  position: relative;
  width: 100%;
}


.skill_container {
  display: grid;
  grid-template-columns: 100%;
  row-gap: 3em;
  margin-bottom: 3em;
 
}

.skill_card_container {
  margin-top:1.5em;
  display: flex;
  flex-wrap: wrap;
  column-gap: 1.3em;
  row-gap: 1.3em;
  justify-content: center;
}

.skill_category_logo {
  color: #562BBF;
  font-size: 20px;
  font-weight: 600;
  margin-right: 10px;

}



.skill_card_items {

  background-color: #562BBF;
  padding: 30px;
  border-radius: 25px;
}

.skill_logo {
  font-size: 3em;
  color: white;
}


.flip-card {
  background-color: transparent;
  width:6em;
  height: 6em;

}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 1s;
  transform-style: preserve-3d;

}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #562BBF;
  backface-visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
}

.flip-card-back {
  background-color: #562BBF;
  color: white;
  transform: rotateY(180deg);
}





/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

 
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

 
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

 
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

 
  .skill_container {
    
    grid-template-columns: 50% 50%;
    
   
  }

}