@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    padding: 0 1.3em 0 1.3em;
}

.section_label{
    text-align: center;
    margin-bottom: 1em;
}

h2{
    font-size: 1.75em;
}

h3{
    color: gray;
    font-size: 1.125em;
}





/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

    body {
        font-size: 1.7vh;
    }

    .container {
        padding: 0 1.3em 0 1.3em;
    }

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

    body {
        font-size: 3vw;
    }

    .container {
        padding: 0 1.3em 0 1.3em;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

      
    body{
        font-size: 2.5vw;
    }

    .container {
        padding: 0 2em 0 2em;
    }


}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

    body{
        font-size:1.25vw;
    }
    .container {
        padding: 0 8em 0 8em;
    }

}