@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .container {
        max-width: 550px;
        min-width: 150px;
        margin: auto;
        padding: 40px 10px 30px 10px;
    }

    
    h1 ,h2,h3 ,p{
        font-size: 16px;
    }

  

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

    .container {
        max-width: 550px;
        min-width: 600px;
        margin: auto;
    }

    
    h1 ,h2,h3 ,p{
        font-size: 16px;
    }


}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

    .container {
        max-width: 882px;
        min-width: 768px;
        margin: auto;
    }

    h1 ,h2,h3 ,p{
        font-size: 18px;
    }







}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {


    .container {
        max-width: 1100x;
        min-width: 992;
        margin: auto;
    }

    h1 ,h2,h3 ,p{
        font-size: 19px;
    }


}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

    .container {
        max-width: 1400x;
        min-width: 1200px;
        margin: auto;
    }


    h1 ,h2,h3 ,p{
        font-size: 20px;
    }

}


